* {
  text-align: center;
}

body {
    background-color: rgb(104, 103, 103);
}

h1 {
  text-align: center;
  justify-content: center;
  color: whitesmoke;
  background-color: black;
  padding: 1%;
}

h2{
  font-size: 200%;
  color: white;
  
}

h3{
  font-size: 200%;
  color: white;
}

h4{
  color: rgb(193, 3, 3);
  background-color: azure;
  font-size: 300%;

  border-radius: 5px;
  border-style: outset;
}

h5{
  font-size: large;
  color: white;
}

.game{
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.choiceDisplay{
  color:black;
  font-size: 50px;
}

#👊{
    
    align-self: center;
    background-color: rgba(209, 226, 230, 0.995);
    size-adjust: 100%;
    size: 100px;

   
    align-self: center;
    color: white;
    padding: 10px;
    font-size: 750%;
}

#🖐{
    
    align-self: center;
    background-color: rgba(216, 229, 240, 0.967);
    padding: 10px;
    font-size: 750%;
}

#✌{
    background-color: rgb(207, 236, 238);
    align-self: center;
    color: white;
    
    align-self: center;
    color: white;
    padding: 10px;
    font-size: 750%;
}

#button {
  align-self: center;
  size: 50px;
  padding-left: 15px;
  size-adjust: 100%;
}




